<manifest package="com.zero.locker"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_LOGS" />

    <!-- 悬浮窗 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <!-- 自启动 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".ui.MainActivity"
                  android:hardwareAccelerated="true"
                    >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"></action>
                <category android:name="android.intent.category.LAUNCHER"></category>
            </intent-filter>
        </activity>
        
        <activity android:name=".ui.ThemeWaterActivity"
                  android:screenOrientation="portrait"
                  android:launchMode="singleTop"
                  >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service android:name=".lock.LockerService"
                 android:process=":ServiceProcess"
                 android:enabled="true"
                 android:exported="true">
        </service>
        <service
            android:name=".lock.LockerProtectService"
            android:enabled="true"
            android:process=":ServiceProcess"
            android:exported="true" >
        </service>
        
        <!-- 注册自启动接收器 -->
        <receiver
            android:name="com.zero.locker.lock.LockerBootReceiver">
            <intent-filter >
                <!-- 开机启动 -->
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <!-- 后台启动 -->
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </receiver>
        
    </application>

</manifest>
